$header-bg-color: #002451;
$header-text-color: white;
$text-color: black;
$bg-color: #c0c0c0;
$section-bg-color: #d6d6d6;
$border-radius: 8px;
$inner-border-radius: 6px;
$shadow: #aaaaaa;

* {
  margin: 0;
    padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: Arial;
  margin: 0;
  background: $bg-color;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

header {
  padding: 5px;
  text-align: left;
  color: $section-bg-color;
  background-color: $header-bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav a {
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  color: $section-bg-color;
  transition: all 0.3s ease;
}

nav a:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
  text-decoration: underline;
}

h3 {
  font-size: 125%;
}

h4 {
  font-size: 100%;
  font-weight: normal;
}

main {
  display: flex;
  flex: 1 1 0;
  /* max-width: 1920px; */
  /* flex-wrap: wrap; */
}

aside {
  flex: 1;
  color: $text-color;
  text-align: center;
  padding: 12px 6px 12px 9px;
}

aside img {
  border-radius: $border-radius;
  box-shadow: 6px 6px 3px $shadow;
}

.sections {
  flex: 4;
  padding: 12px 9px 12px 6px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

section {
  padding: 20px;
  color: $text-color;
  background-color: $section-bg-color;
  max-width: 1920px;
  box-shadow: 6px 6px 3px $shadow;
}

section p {
  text-align: left;
  margin: 8px 0px 0px 0px;
}

#About {
  border-radius: $border-radius;
}

#Contact {
  border-radius: $border-radius;
}

#Portfolio {
  border-radius: $border-radius;
} 

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  border-style: solid;
  border-width: 1px;
  border-radius: $border-radius;
  padding: 0px;
  flex: 0 0 33.333%;
  box-shadow: 6px 6px 3px #bbbbbb;
  margin: 12px;
  max-width: 350px;
  min-width: 350px;
}

article:hover {
  box-shadow: 6px 6px 3px #999999;
}

article header {
  border-radius: $inner-border-radius $inner-border-radius 0px 0px;
  padding: 6px;
  text-align: center;
  width: 100%;
}

article header a {
  color: $header-text-color;
  text-decoration: none;
}

article header a:hover {
  text-decoration: underline;
}

article>p {
  text-align: center;
}

article img {
  width: 100%;
}

footer {
  padding: 5px;
  text-align: left;
  color: $section-bg-color;
  background-color: $header-bg-color;
}

footer a {
  color: $section-bg-color;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Tablets */
@media screen and (max-width: 992px) {

  first-article,
  article {
    flex: 0 0 50%;
  }
}

/* Large smartphones */
@media screen and (max-width: 768px) {

  header,
  main {
    flex-direction: column;
  }

  aside {
    padding: 12px 9px 6px 9px;
  }

  .sections {
    padding: 6px 6px 6px 6px;
  }

  article {
    flex: 0 0 100%;
    margin: 6px 2px 6px 2px;
  }
}

/* Small smartphones  */
@media screen and (max-width: 576px) {
  article {
    min-width: none;
  }
}